
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(61, 25, 25, 0.1);
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
    margin-bottom: 10px; 
}

textarea {
    height: 150px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: black;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    margin-top: 10px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

button:hover {
    background-color: #0056b3;
}

.success-message {
    text-decoration: center;
    color: #28a745;
    font-weight: bold;
}

.error-message {
    color: #dc3545;
    font-weight: bold;
}
.div
{
    display: flex;
    margin: auto;
    gap: 22%;
}
h1{
    text-align: center;
    margin-top: 4px;
    margin-bottom: 10px;
}